vlg.unicorn-alligator.ts.net {
    tls /tls/vlg.unicorn-alligator.ts.net.crt /tls/vlg.unicorn-alligator.ts.net.key

    @option {
        method OPTIONS
    }

    route {
        handle @option {
            header Access-Control-Allow-Origin "*"
            header Access-Control-Allow-Headers authorization
            respond 200 {
                close
            }
        }

        handle /api/v1/* {
            reverse_proxy prometheus:9090
        }
    }
}
