vlg-pi.unicorn-alligator.ts.net {
    tls /tls/vlg-pi.unicorn-alligator.ts.net.crt /tls/vlg-pi.unicorn-alligator.ts.net.key

    # "Get Album Art"
    # Proxy requests to a Sonos Speaker
    handle /getaa* {
        reverse_proxy 192.168.86.39:1400 {
             header_up -Host
        }
    }

    # Proxy requests to sonos-api (running on host network)
    handle_path /sonos/* {
        reverse_proxy 192.168.86.60:5005
    }

    # Proxy requests to z2m
    handle_path /z2m/*  {
        reverse_proxy zigbee2mqtt:8080
    }
}
